<footer>
        <ul>
            <li><a href="#">Sign up</a></li>
            <li><a href="#">Log in</a></li>
        </ul>
        <ul>
          
            <li><a href="#">Empresa</a></li>
            <li><a href="#">Socios</a></li>
            <li><a href="#">Comunidad</a></li>
            <li><a href="#">Soporte</a></li>
        </ul>
        <ul>
            <li><a href="#">Documentacion</a></li>
            <li><a href="#">Precios</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Empezar</a></li>
         
        </ul>
        <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>

</footer>
