<main>
  <div class="intro">
    <h3>Nuestro Proyecto</h3>
      <p>
        Con la elaboración de este proyecto buscamos facilitar y mejorar la calidad de vida de aquellas personas que padecen la enfermedad de Parkinson, haciendo uso de inteligencia artificial e internet de las cosas como principales herramientas tecnológicas de automatización de procesos.
      </p>
  </div>

  <div class="multi-section">
    <img src="/assets/park.jpg" />
    <div>
      <h3>Problematica Actual</h3>
      <p>El  Parkinson hoy en día es la segunda enfermedad neurodegenerativa con más prevalencia en el mundo justo detrás del Alzheimer, aun no  existe una cura para esta enfermedad, hay pacientes clasificados en un nivel muy avanzado que no pueden realizar actividades cotidianas dentro del hogar como por ejemplo encender la lavadora, encender una cafetera o encender un bombillo, actualmente hay pocos proyectos tecnológicos que implementen I.A enfocados en solventar estas necesidades a un bajo costo.
      </p>
    </div>
  </div>

  <div class="multi-section-two">
      <img class="a" src="/assets/ia.jpg" />
      <div class="b">
        <h3>Nuestro Objetivo</h3>
        <p>Adaptar un modelo de Inteligencia Artificial con capacidad de procesamiento de lenguaje natural, como herramienta para utilizar y/o administrar electrodomésticos, con capacidades potenciadas por el uso del Internet de las cosas y medir el impacto que esta adaptación pueda generar en personas con la enfermedad de Parkinson, en un nivel avanzado.
        </p>
      </div>
  </div>

  <div class="multi-section">
    <img src="/assets/responsive.png" />
    <div>
      <h3>Principales Objetivos</h3>
      <p>
        * Diseñar la estructura del modelo de IA y entrenarlo según el contexto determinado para su uso.<br/>
        * Registrar la percepción del público objetivo (Personas con Parkinson) y analizar los resultados obtenidos para lograr determinar el impacto generado por parte de nuestra solución de software.<br/>
        * Determinar la viabilidad tanto técnica y económica de construir la solución de software planteada.<br />
        * Definir si el diseño de arquitectura solventa la demanda inicial del producto de software, sin consumir una gran cantidad de recursos económicos.
      </p>
    </div>
  </div>

  <div>
    <h3>Quieres conocer mas sobre Alfred?</h3>
    <p>Estamos para ayudarte...</p>
    <a href="#" class="contact">Contactanos </a> 
  </div> 
</main>